<% content_for :title, "New recipe" %>

<div class="row justify-content-center my-5">
  <div class="col-6 card p-5">
    <h1 class="text-center">New recipe</h1>

    <%= render "form", recipe: @recipe %>

    <br>

    <div>
      <%= link_to "Back to recipes", recipes_path %>
    </div>
  </div>
</div>
