<div class="row justify-content-center my-5">
  <div class="col-6 card p-5">
    <h1 class="text-center">New food</h1>

    <%= render "form", food: @food %>

    <br>

    <div>
      <%= link_to "Back to foods", foods_path %>
    </div>
  </div>
</div>
